#pageContent{
	margin-top: 100px;
}
.book-image{
	width: 50%;
	height: 238px;
    margin-top: 30px;
	margin-right: auto;
	margin-left: auto;
}
.book-card{
	text-align: center;
}
.book-full{
	width: 23%;
}
.card-title{
	height: 55px;
}